POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=areal_hr_db
POSTGRES_PORT=5432
POSTGRES_HOST=db

DATABASE_URL=postgres://postgres:postgres@db:5432/areal_hr_db

API_PORT=3000
VITE_API_URL=https://arealhr.ru/api
VITE_APP_PORT=3001

STORAGE_DIR=storage

SESSION_SECRET=your_session_secret

REDIS_HOST=redis
REDIS_PORT=6379

DOCS_PORT=3002